:root {
  --main-color: #000054 !important;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
}
.register {
  background-color: #000054 !important;
}
.btn-dark {
}

@media (min-width: 993px) {
  .register__head {
    font-size: 60px;
  }
}
@media (max-width: 992px) {
  .register__head {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .register__head {
    font-size: 20px;
  }
}
@media (max-width: 567px) {
  .register__head {
    font-size: 13px;
  }
}
